[submodule "Sarene/extern/imgui"]
    path = Sarene/extern/imgui
    url = https://github.com/ocornut/imgui.git
    branch = docking
[submodule "Sarene/extern/glfw"]
    path = Sarene/extern/glfw
    url = https://github.com/glfw/glfw.git
    branch = 3.3-stable
[submodule "Sarene/extern/glm"]
    path = Sarene/extern/glm
    url = https://github.com/g-truc/glm.git
[submodule "Sarene/extern/spdlog"]
    path = Sarene/extern/spdlog
    url = https://github.com/gabime/spdlog.git